<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SKQuotepath" value="C:\SKQuote.exe" />
    <add key="SKOSQuotepath" value="C:\SKOSQuote.exe" />
    <add key="StockATMpath" value="C:\StockATM.exe" />
    <add key="Connectionstring" value="SERVER=;DATABASE=Stock;Trusted_Connection=True" />
    <add key="LinePushpath" value="C:\linepush.py" />
    <add key="Pythonpath" value="C:\Python\Scripts\python.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>