<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="SKQuotepath" value="C:\Users\HY\Dropbox\SKQuotes\obj\Debug\SKQuote.exe" />
    <add key="StockATMpath" value="C:\Users\HY\Dropbox\SKOrders\MyDebug\StockATM.exe" />
    <add key="Connectionstring" value="SERVER=localhost;DATABASE=Stock;Trusted_Connection=True" />
    <add key="LinePushpath" value="C:\Users\HY\Dropbox\PythonSource\linepush.py" />
    <add key="Pythonpath" value="C:\Python\Scripts\python.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>